confirmOnQuit: false
quitOnTopLevelReturn: false # determines whether hitting 'esc' will quit the application when there is nothing to cancel/close
disableStartupPopups: true
notARepository: "skip" # one of: 'prompt' | 'create' | 'skip' | 'quit'
promptToReturnFromSubprocess: false # display confirmation when subprocess terminates
git:
  pagers:
    - externalDiffCommand: "C:/Users/nicol/AppData/Local/lazygit/delta-diff.bat"
os:
  copyToClipboardCmd: "" # See 'Custom Command for Copying to Clipboard' section
  editPreset: "nvim" # see 'Configuring File Editing' section
gui:
  theme:
    cherryPickedCommitFgColor:
      - "#8ba4b0"
    defaultFgColor:
      - "#c5c9c5"
    inactiveBorderColor:
      - "#54546d"
    optionsTextColor:
      - "#8ba4b0"
    searchingActiveBorderColor:
      - "bold"
    selectedLineBgColor:
      - "#393836"
    unstagedChangesColor:
      - "#c4746e"
    activeBorderColor:
      - "bold"
    cherryPickedCommitBgColor:
      - "#c5c9c5"
  nerdFontsVersion: "3" # nerd fonts version to use ("2" or "3"); empty means don't show nerd font icons
  showFileIcons: true # for hiding file icons in the file views
  commandLogSize: 8
  border: "rounded" # one of 'single' | 'double' | 'rounded' | 'hidden'
customCommands:
  # retrieved from: https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium#conventional-commit
  - key: "<C-c>"
    context: "global"
    description: "Create new conventional commit"
    prompts:
      - type: "menu"
        key: "Type"
        title: "Type of change"
        options:
          - name: "build"
            description: "Changes that affect the build system or external dependencies"
            value: "build"
          - name: "feat"
            description: "A new feature"
            value: "feat"
          - name: "fix"
            description: "A bug fix"
            value: "fix"
          - name: "chore"
            description: "Other changes that don't modify src or test files"
            value: "chore"
          - name: "ci"
            description: "Changes to CI configuration files and scripts"
            value: "ci"
          - name: "docs"
            description: "Documentation only changes"
            value: "docs"
          - name: "perf"
            description: "A code change that improves performance"
            value: "perf"
          - name: "refactor"
            description: "A code change that neither fixes a bug nor adds a feature"
            value: "refactor"
          - name: "revert"
            description: "Reverts a previous commit"
            value: "revert"
          - name: "style"
            description: "Changes that do not affect the meaning of the code"
            value: "style"
          - name: "test"
            description: "Adding missing tests or correcting existing tests"
            value: "test"
      - type: "input"
        title: "Scope"
        key: "Scope"
        initialValue: ""
      - type: "menu"
        key: "Breaking"
        title: "Breaking change"
        options:
          - name: "no"
            value: ":"
          - name: "yes"
            value: "!:"
      - type: "input"
        title: "message"
        key: "Message"
        initialValue: ""
      - type: "confirm"
        key: "Confirm"
        title: "Commit"
        body: "Are you sure you want to commit?"
    command: "git commit --message '{{.Form.Type}}{{ if .Form.Scope }}({{ .Form.Scope }}){{ end }}{{.Form.Breaking}}: {{.Form.Message}}'"
    loadingText: "Creating conventional commit..."
